__*
*.bak
*.xlsx

/releases
/test

/.gradle
/.settings
/bin
/build
/gradle
/libs
/media
/run

/.classpath
/.project
/gradlew
/gradlew.bat
/forge*.zip

/build.properties
/locations.gradle

/todo.txt
/changes.txt
/changelog.txt
passwords.gradle

# IntelliJ
*.iml
*.ipr
*.iws
.idea/
